{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="display-1">{{ current_planner }}</h1>
    <!-- Debug -->
    <h3>Debug</h3>
    <p>current planner id: {{ current_planner }}</p>
    <p>planners: {{ planners }}</p>
    <p>task data: {{ task_data }}</p>
    <p>weeks: {{ weeks }}</p>
    <p>-------------</p>
    <!-- End Debug -->
    <form method="POST">
        <input type="hidden" name="form_type" value="planner_select" />
        <label>Choose planner:</label>
        <select name="chosen_planner" required>
          <option value={{ current_planner }} selected>{{ current_planner }}</option>
          {% for planner in planners %}
            {% if planner != current_planner %}
            <option value={{ planner }}>{{ planner }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <br /><br />

        <button type="submit">Submit</button>
      </form>
  </div>
  <div class="parent">
    <div class="child inline">
      <form method="POST">
        <input type="hidden" name="form_type" value="invite_form" />
        <input type="hidden" name="selected_planner" value="{{ current_planner }}" />
        <h2>Invite form</h2>
        
        <label>Invite user:</label>
        <input type="text" name="invite_id" required />
        <br/>
        <label>(Use their invite ID)</label>
        <br/>
        <br/>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div class="parent">
    <div class="child inline">
      <form method="POST">
        <input type="hidden" name="form_type" value="planner_form" />
        <input type="hidden" name="selected_planner" value="{{ current_planner }}" />
        <h2>Planner Info</h2>
        <label>Template type:</label>
        <select name="template_type" required>
          <option value="term">Term</option>
        </select>
        <br /><br />
        
        <label>Start Date:</label>
        <input type="date" name="start_date" required /><br /><br />

        <label>Number of Weeks:</label>
        <input type="number" name="num_weeks" min="1" required /><br /><br />

        <button type="submit">Submit</button>
      </form>
    </div>
    <div class="child inline">
      <form method="POST">
        <input type="hidden" name="form_type" value="task_form" />
        <input type="hidden" name="selected_planner" value="{{ current_planner }}" />
        <h2>Task Info</h2>
        <label>Title:</label>
        <input type="text" name="title" required /><br /><br />

        <label>Description:</label>
        <textarea name="description"></textarea><br /><br />

        <label>Due Date:</label>
        <input type="date" name="due_date" required /><br /><br />

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <br /><br />
  <h2>General tasks</h2>
  {% for task in task_data %} {% if task[3] == 'general' %}
  <div class="weeks-list">
    <div class="task">
      <h4>{{ task[0] }}</h4>
      <p>{{ task[1] }}</p>
    </div>
  </div>
  {% endif %} {% endfor %} {% if weeks %}
  <br /><br />
  <h1>Term</h1>
  <div class="weeks-list">
    {% for week in range(weeks | length) %}
    <h3>Week {{week+1}}: {{ weeks[week] }}</h3>
    {% for task in task_data %} {% if task[3] == (week+1) %}
    <div class="task">
      <h4>{{ task[0] }}</h4>
      <p>{{ task[1] }}</p>
      <p><b>Due:</b> {{ task[2] }}</p>
    </div>
      {% endif %} {% endfor %} {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
