{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row">
    <h1 class="display-1">Planner</h1>
  </div>
  <div class="row"></div>
  <form method="POST">
    <h2>Planner Info</h2>
    <label>Start Date:</label>
    <input type="date" name="start_date" required /><br /><br />

    <label>Number of Weeks:</label>
    <input type="number" name="num_weeks" min="1" required /><br /><br />

    <h2>Task Info</h2>
    <label>Title:</label>
    <input type="text" name="title" required /><br /><br />

    <label>Description:</label>
    <textarea name="description"></textarea><br /><br />

    <label>Due Date:</label>
    <input type="date" name="due_date" /><br /><br />

    <button type="submit">Submit</button>
  </form>
  {% if weeks %}
  <div class="weeks-list">
    {% for week in range(weeks | length) %}
    <h2>{{ weeks[week] }}</h2>
    {% endfor %}
  </div>
  {% endif %}
</div>
{% endblock %}
